
/* span.header{
    font-size: 1vh;
} */

/* table tr td button.edit_btn{font-weight: 500;} */

body,html,h1,h2,h3,h4,h5,h6,p,strong,a,button,label{
    font-family:Mitr!important ;
}

.form-control{ font-family:Mitr ;}
p.mar-r-5{
    margin-right: 5vh;
    padding-top:5px;
    margin-left:5vh;
}

 nav.float-r{
    float:right;
}

small{
   
    margin-right: 5vh;
    padding-top:5px;
}


 .card .card-body-10 {
    padding: 10px 30px;
}
.text-primary, .navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item.mega-menu .submenu .category-heading{
    text-decoration: underline;
    padding: 1vh;  
}


.text-danger-pad {
    padding: 1vh;
}


.h6, h6 {
    font-size: .8rem;
}
#font-w{
    font-weight: bolder;
}

.table td .badge, .jsgrid .jsgrid-table td .badge, .table th .badge, .jsgrid .jsgrid-table th .badge{
    width: 100px;
}
.table-responsive{
    scrollbar-width:none;
    
}
.form-group{padding-top: 30px;}


  
  .switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
/* Switch 2 Specific Style Start */

.box_2{
    background: #666;
  }
  
  input[type="checkbox"].switch_2{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 40px;
    height: 15px;
    background: #ccc;
    border-radius: 10px;
    position: relative;
    outline: 0;
    cursor: pointer;
  }
 
  input[type="checkbox"].switch_2:checked{
    background: #c7d8ec;
    }
  
 
  
  input[type="checkbox"].switch_2:before,
  input[type="checkbox"].switch_2:after{
    position: absolute;
    content: "";
    -webkit-transition: all .25s;
    transition: all .25s;
    background:#ccc;
    border: 5px solid #ccc;
  }
  
  input[type="checkbox"].switch_2:before{
    width: 22px;
    height: 22px;
    background:#ccc;
    border: 5px solid #ccc;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  
  
  input[type="checkbox"].switch_2:checked:before{
    left: calc(100% - 20px);
    background:#439aff;
    border: 5px solid #439aff; 
  }
  
  input[type="checkbox"].switch_2:checked:after{
    left: 75px;
    -webkit-transform: scale(0);
            transform: scale(0);
            
               
  }
  
  /* Switch 2 Specific Style End */

@media (min-width: 1200px){
.container {max-width: 1240px;}
}
